.nopadding 
{
	padding:0 !important; 
}

table#stickyHeader thead {
  border-top: none;
  border-bottom: none;
  background-color: #603e5f;
  color:#FFF;

}

tr.subtotal {	
	/* #603e5f #737984*/
	background-color: #566077  !important;
    color:#FFF;
}

tr.totals {	
	background-color: #082037 !important;
    color:#F27FAD;
}

tr.rowheader{
	background-color: #808184 !important;
    color:#FFF;
}

.negative {
	background-color: #f94600 !important;
	color:#FFF;	
}

.positive {
	background-color: #00ac1c !important;
	color: #FFF;
}

.bigmetric 
{
	vertical-align:middle; 
	font-size:3em; 
	text-align:center;
}

.lightbg
{
	 background-color: #FFF;
}

.negative_balance
{
	color:red;
}

.positive_balance
{
	color:green;
}